<h1>Editing Student Detail</h1>

<%= render 'form', student_detail: @student_detail %>

<%= link_to 'Prikaži', @student_detail %> |
<%= link_to 'Prikaži detalje o svim studentima', student_details_path %>
