<div class="container">

  <h1> Admin panel </h1>
  <br>

  <div class="row">
    <div class="col-xs-6 col-md-3" style="text-align: center">
      <div class="thumbnail shadow-depth-3">
        <span class="glyphicon glyphicon-user gi-5x"></span>
        <div class="caption">
          <a href=<%= new_user_path(current_user) %>><h3> Dodaj korisnika</h3></a>
        </div>
      </div>
    </div>


    <div class="col-xs-6 col-md-3" style="text-align: center">
      <div class="thumbnail shadow-depth-3">
        <span class="glyphicon glyphicon-book gi-5x"></span>
        <div class="caption">
          <a href=<%= new_user_course_path(current_user) %>><h3> Dodaj kurs</h3></a>
        </div>
      </div>
    </div>

</div>

</div>

