<div class="container">

  <h1>Nastavno osoblje</h1>
  <br>

  <div class="row">
    <div class="col-xs-6 col-md-3" style="text-align: center">
      <div class="thumbnail shadow-depth-3">
        <br>
        <span class="glyphicon glyphicon-user gi-5x"></span>
        <div class="caption">
          <a href=<%= user_path(current_user) %>><h3> Moj profil</h3></a>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3" style="text-align: center">
      <div class="thumbnail shadow-depth-3">
        <br>
        <span class="glyphicon glyphicon-book gi-5x"></span>
        <div class="caption">
          <a href=<%= user_courses_path(current_user) %>><h3>Moji kursevi</h3></a>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3" style="text-align: center">
      <div class="thumbnail shadow-depth-3">
        <br>
        <span class="glyphicon glyphicon-envelope gi-5x"></span>
        <div class="caption">
          <a href=<%= notices_path%> ><h3>Obavještenja</h3></a>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3" style="text-align: center">
      <div class="thumbnail shadow-depth-3">
        <br>
        <span class="glyphicon glyphicon-envelope gi-5x"></span>
        <div class="caption">
          <a href=<%= exams_path%> ><h3>Ispiti</h3></a>
        </div>
      </div>
    </div>

  </div>
</div>