<div class="container">

  <h1> Studentska služba</h1>
  <br>

  <div class="row">
    <div class="col-xs-6 col-md-3" style="text-align: center">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-user gi-5x"></span>
        <div class="caption">
          <a href=<%= user_path(current_user) %>><h3> Moj profil</h3></a>
        </div>
      </div>
    </div>

<div class="col-xs-6 col-md-3" style="text-align: center">
  <div class="thumbnail">
    <span class="glyphicon glyphicon-file gi-5x"></span>
    <div class="caption">
      <a href="#"><h3>Uvjerenja</h3></a>
    </div>
  </div>
</div>

<div class="col-xs-6 col-md-3" style="text-align: center">
  <div class="thumbnail">
    <span class="glyphicon glyphicon-envelope gi-5x"></span>
    <div class="caption">
      <a href="#"><h3>Obavjestenja</h3></a>
    </div>
  </div>
</div>

    <div class="col-xs-6 col-md-3" style="text-align: center">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-user gi-5x"></span>
        <div class="caption">
          <a href=<%= student_details_path %>><h3>Studenti</h3></a>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3" style="text-align: center">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-user gi-5x"></span>
        <div class="caption">
          <a href=<%= user_enrollments_path %>><h3>Upis</h3></a>
        </div>
      </div>
    </div>
</div>
</div>
