<div class="container" style="margin-top: 85px">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">O fakultetu</h1>
    <hr style="height:1px; border-top:1px solid steelblue" />
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    <p class="lead">
      Elektrotehnički fakultet u Sarajevu je osnovan 1961. godine, a prva generacija studenata upisana je godinu dana ranije,
      u okviru tad postojećeg Tehničkog fakulteta u Sarajevu.
      <br><br>
      Fakultet je danas smješten u prostoru Kampusa Univerziteta u Sarajevu u objektima čija površina omogućuje standard od cca 5 m2 po studentu. Za izvjesne laboratorijske vježbe Fakultet koristi i
      kapacitete javnih preduzeća JP Elektroprivreda BiH i Telecom BiH.

      <br><br>
      Studij se odvija u okviru četiri odsjeka:
      <ul>
        <li>Odsjek za automatiku i elektroniku na kome studira 220 studenata na ETF-AB+ETF-B i 34 na postdiplomskom magistarskom studiju;</li>
        <li>Odsjek za elektroenergetiku na kome studira 243 studenta na ETF-AB+ETF-B i 35 na postdiplomskom magistarskom studiju;</li>
        <li>Odsjek za računarstvo i informatiku na kome studira 572 studenata na ETF-AB+ETF-B i 106 na postdiplomskom magistarskom studiju;</li>
        <li>Odsjek za telekomunikacije na kome studira 529 studenata na ETF-AB+ETF-B i 112 na postdiplomskom magistarskom studiju.</li>
      </ul>
    </p>

  </header>


</div>