<div class="container" style="margin-top: 85px">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">ETF - SARAJEVO</h1>
    <hr class="colorgraph"><br>
    <p class="lead"> Dobrodošli na bolognaware Elektrotehničkog fakulteta Sarajevo </p>
    <a href="login" class="btn btn-primary btn-lg" style="color:white;">Prijavi se</a>
  </header>


</div>
<!-- /.container -->

